<h1>Voici tous les containerships :</h1>
{% for containership in containerships %}
    <p>Le containership d'id {{ containership.id }} et de nom {{ containership.name }} qui a le capitaine {{ containership.captainname }} et qui a une limite de {{ containership.containerlimit }} containers</p>
{% endfor %}